---
import Main from "../layouts/Main.astro";
import Home from "../components/Home.astro";
---

<Main>
  <main class="info">
    <Home />
  </main>
</Main>

<style>
  .info {
    position: absolute;
    top: 30%;
    left: 5%;
  }
</style>
