<!-- Start of main section of the application -->
<section class="section">
  <main class="info-box">
    <!-- Start of Header component -->
    <app-header></app-header>
    <!-- End of Header component -->

    <!-- Start of Personal Details component -->
    <app-personal-details></app-personal-details>
    <!-- End of Personal Details component -->

    <!-- Start of Social Links component -->
    <app-social-links></app-social-links>
    <!-- End of Social Links component -->
  </main>
</section>
<!-- End of main section of the application -->