---
import BlogItem from "./BlogItem.astro";

interface Blog {
  frontmatter: {
    title: string;
    description: string;
  };
  url: string;
}

const { blogs } = Astro.props;
---

<section class="blog-list">
  {
    blogs.map((blog: Blog) => (
      <BlogItem
        description={blog.frontmatter.description}
        title={blog.frontmatter.title}
        url={blog.url}
      />
    ))
  }
</section>

<style>
  /* For mobile screens */
  @media (max-width: 767px) {
    .blog-list {
      padding: var(--spacer);
    }
  }

  /* For laptops and larger screens */
  @media (min-width: 768px) {
    .blog-list {
      padding: var(--spacer-xl) var(--container);
    }
    }
  }
</style>
