<header class="header" data-testid="header">
  <h1 class="m-0">
    Hello
    <img class="hello-icon" src="/wave.png" alt="Hello" />
  </h1>
</header>

<style>
  .header {
    color: var(--color-primary);
    font-size: var(--font-size-xl);
  }

  .hello-icon {
    height: 55px;
    width: 55px;
  }
</style>
