<ul class="navbar m-0">
  <li class="navbar__item">
    <a href="/">Home</a>
  </li>
  <li class="navbar__item">
    <a href="/blog">Blog</a>
  </li>
</ul>

<style>
  .navbar {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }
  .navbar__item {
    margin-right: var(--spacer-lg);
  }

   /* For mobile screens */
   @media (max-width: 767px) {
    .navbar {
      padding: var(--spacer-lg) var(--spacer-lg) 0 0;
    }
  }

  /* For laptops and larger screens */
  @media (min-width: 768px) {
    .navbar {
      padding: var(--spacer-xl) var(--container) 0 0;
    }
  }
</style>
