<section class="personal-info" data-testid="personal-info">
  I'am Akshay,
  <p>Backbase Certified Front End Developer</p>
</section>

<style>
  .personal-info {
    padding-top: var(--spacer-lg);
    font-size: var(--font-size-lg);
  }
</style>
