---
const SOCIAL_LINKS = {
  github: "https://github.com/akshay3001",
  linkedin: "https://in.linkedin.com/in/akshay-mhatre-732a83144",
};
---

<footer>
  <a
    href={SOCIAL_LINKS.github}
    target="_blank"
    data-testid="github-link"
    rel="noopener noreferrer"
    class="social-links"
  >
    <img src="/github.svg" class="icon" alt="Github" />
  </a>
  <a href={SOCIAL_LINKS.linkedin} target="_blank" rel="noopener noreferrer" data-testid="linked-link">
    <img src="/linkedin.svg" class="icon" alt="Linkedin" />
  </a>
</footer>

<style>
  .social-links {
    padding-right: var(--spacer-lg);
  }

  .icon {
    height: var(--social-link-icon);
    width: var(--social-link-icon);
  }
</style>
