<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Akshay - Backbase Certifed Front End Developer</title>
    <base href="/" />
    <meta
      name="description"
      content="Akshay is a Backbase Certified Frontend Developer and has expertise
    in HTML, HTML5, CSS, CSS3, Flexbox, Bootstrap, Bootstrap 4, Bootstrap 5, Tailwind, Javascript,
    ES5, ES6, AngularJs, Angular, Angular 2, Angular 4, Angular 5, Angular 6, Angular 7, Angular 8,
    Angular 9, Angular 10, Angular 11, Angular 12, Angular 13, Angular 14, Angular 15, Backbase Launchpad,
    Backbase CXS, Backbase 5.6, Backbase 5.7, Backbase 5.9, Backbase 6, Widget Collection 2, EBP,
    Engagement Banking Platform, Backbase Entitlements, Entitlements, Entitlement, 
    Retail Banking Widget Collection, Retail Banking USA App, Retail Banking Universal App,
    Business Banking Widget Collection, Business Banking USA App, Business Banking Universal App, Entitlement Widget Collection,
    Wealth Management Collection, Wealth Management App, Backbase Service SDK, Backbase Moblile SDK, Backbase Web SDK,
    Backbase Foundation, web-base, Lean Page, Web basic, Experience Manager, CXP, CXS, CX, Platform, CX6, Foundation Services,
    Infrastructure and Platform Services, Remote config, Remote config SDK, Banking Services,
    Backbase Digital Banking Services, DBS, Retail Banking, Business Banking, Wealth Management, Wealth Banking,
    Coorporate Banking, Digital Assist, Employee Web App, EWA, Engage App, Digital Sales, Flow, Flow Platform, Case Manager,
    Interaction SDK, Retail Onboarding, US Onboarding, Business Onboarding, CCO Onboarding, Credit card origination Onboarding,
    Digital Lending, Backbase Community, Backbase Developer Hub, Developer hub, API Sandbox,
    API Portal, Backbase Certification, Backbase Certified, Identity, Identity Server, 
    Backbase Identity Provider, Identity and Access Management, IAM, OAuth, OIDC, Backbase Design system, Digital Engage,
    Widget Architecture 3, Widget Collection 3, BB CLI, Foundation Angular, Web design system, Mobile design system,
    Server Side rendering, Svelte, React."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Imported Google fonts Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-HJJ63FZP1P"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-HJJ63FZP1P");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --white: #fff;
    --black: #000;
    --grey: #313131;
    --color-primary: var(--white);
    --bg-color: var(--grey);
    --spacer: 1rem;
    --spacer-sm: 0.25rem;
    --spacer-md: 0.5rem;
    --spacer-lg: 1.5rem;
    --spacer-xl: 2rem;
    --container: 8rem;
    --font-size-1: 1.5rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.125rem;
    --font-size-4: 1rem;
    --font-size-5: 0.875rem;
    --font-size-5: 0.75rem;
    --font-size-lg: 2rem;
    --font-size-xl: 2.5rem;
    --font-size-xxl: 3rem;
    --social-link-icon: 2.8rem;
  }
  html,
  body {
    background-color: var(--grey);
    color: var(--color-primary);
    font-family: 'Inter', sans-serif;
    margin: 0px;
    min-height: 100vh;
    padding: 0px;
  }

  /* Resetters */
  .m-0 {
    margin: 0px !important;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
  }
</style>
